.left_content{
   
        /* border-block-color: white; */
        background-color: #151820;
        font-size: 19px;
            font-weight: bold;
        height: 100%;
        width: 40%;
        color: white;
}
.header{
    border-bottom: solid 0.1rem #2a2e3e;
    width: 100%;
    display: flex;
        justify-content: space-between;
        align-content: center;
padding: 1rem;

}
.all_safes{
    width: 49%;
}
.safes_section{
width: 100%;
/* height: calc(100% - 4.6rem); */
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.default_image_container{
height: 24rem;
width: 13rem;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: url("../AllSafes/safes.svg");
    background-repeat: no-repeat;
    background-size: contain;
        background-position: center;
}
.caption{
    position: absolute;
        top: 84%;
    font-size: 14px;
    color:white
   
}
.plusImage{
    margin-top: 2rem;
}
.safe_image{
    width: 45%;
        padding-top: 4rem;
}
.list{
    list-style: none;
    width: 100%;
       
}
.all_safe_list{
width: 100%;
    padding: 1rem;
}
.card{
    width: 100%;
        display: flex;
}
.card_info{
    padding-left: 1rem;
        width: 80%;
}
.card_name{
    font-size: 18px;
}
.card_time{
    font-size: 13px;
        color: #5e627c;
}
.card_actions{
    width: 20%;
        justify-content: space-around;
        display: flex;
        
        align-items: center;
}
.item{
    display: flex;
    height: 4.7rem;
}
.safeItem:hover{
    background-image: linear-gradient(to top, #72134b, #1d212c);
}
.safeItem.active{
    background: linear-gradient(to right, #72134b, #1d212c);
}
.card{
    cursor: pointer;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
